.nav_contents {
  background-image: linear-gradient(to bottom, transparent 0%, black 850%);
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 2px;
  width: 100%;
  padding: 35px;
  z-index: 1;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  position: fixed;
}
.nav_logo {
  top: 5px;
  position: fixed;
  left: 0;
  height: 70px;
  width: 110px;
  cursor: pointer;
  padding-left: 46px;
  margin-top: 0px;

  /* background-color: blue; */
}
.nav_avatar {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  cursor: pointer;
  padding-right: 60px;
}
.nav_black {
  background-color: #111;
}
.nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 300px;
  background-color: blue;
}
